.background-container{
    background-color: #169bd9;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.calculator-container{
    background-color:white;
    border-radius: 18px;
    padding: 20px;
    width: 30%;
    padding-top: 40px;
}

.input-container{
    font-size: 23px;
    font-weight:500;
    text-align: left;
    font-family: 'Roboto';
    width: 90%;
    padding-top: 10px;
    background-color: #c3dce7;
    border-radius: 18px;;
    margin-top: 20px;
    padding-left: 10px;
}
/*
.display-container{
    background-color: lightskyblue;
    
}*/
/* .keys-container{
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    color: #2596be;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
} */
.keys-parent-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;

}
span{
    background-color: #16ccd9;
    padding: 20px;
    width: 18%;
    border-radius: 8px;
    margin: 4px;
    text-align: center;
    font-family:'Roboto';
    font-size: 22px;
    color: #169bd9;
    box-shadow: inset;
    font-weight: bold;

}
.enter-ele{
    width: 37%;
    background-color: #2596be;
    color: white;
}
.number-ele{
    background-color: #bce9ec;
    color: black;
    font-weight: bold;
}
h1{
    text-align: end;
    font-weight: bold;
    /* font-size: 43px; */
}
p{
    color:#169bd9;
    font-weight: BOld;
}